* {
    box-sizing: border-box;
    
}

 html {
    font-size: 115.5%;
}
#header {
    text-align: center;
    margin: 60px 0;
    width: 960px;
    margin: 0 auto;
    padding: 21px 0 0 0;
    background-color: white;
    max-width: 1146px;
    height: 147px;
    border-bottom: 1px solid #222;
   
}

body {
    font-family: Comic Sans MS, Helvetica, sans-serif;
    background-image:url("gouzhua.jpg");
    background-attachment: fixed;
    background-size: stretch;
    border: 1px solid ghostwhite;
    outline: 5px dotted darkgray;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: black;
}

/* Classes */
.box {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px dashed gray;
    outline: 5px dashed white;
}

    


.clearfix {
    overflow: auto;
}
.column {
    float: left;
    position: relative;
    width: 33.333%;
    padding: 20px;
}

.flex-container{
    display: flex;
    padding: 20px;
}

.flex-column {
    flex: 1;
    padding: 20px
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}
/* ids */


#MainMenu ul {
    padding: 20px;
    margin: 20px;
}

#MainMenu li {
    display: inline;
    list-style-type: none;
    }

#MainMenu li a {
    color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background-color: lightgrey;
    border-radius: 5px;
}

@media sceen and (max-width: 600px) {
    .column {
    
    width: 100%;
}

.flex-container{
    display: flex;
}

.flex-column {
    flex-direction: column;
    
}
.order-1 {
    order: 0;
}

.order-2 {
    order: 1;
}

}